/resources/jlt/
/resources/dsm/
/resources/wnplusplus/
/clic2014_paper.sh
/clic2014_paper_lc.sh
/clic2014_exp.sh
/clic2014_exp_2.sh
/clic2014_exp_3.sh
/clic2014_exp_sd_wikiuni.sh
/clic2014_exp_wikiuni.sh
/build/
/dist/